body {
    font-family: sans-serif;
}

h1 {
    color: #429fd8;
    background: #0a1b25;
    padding: 10px;
}

.axis path {
    fill: none;
    stroke: black;
}

.axis line {
    strock: black;
}

.bubble-chart .bubble,
.bar-chart .bar {
    fill: #14749b;
}

.bubble-chart .bubble:hover,
.bar-chart .bar:hover  {
    fill: #429fd8;
}

.bubble-chart .bubble.selected,
.bar-chart .bar.selected {
    fill: #0b334c;
}

.bubble-chart text,
.bar-chart .graph text {
    font-family: sans-serif;
}

.bubble-chart .graph text,
.bar-chart .graph text {
    fill: white;
}

.bar-chart .bar {
    rx: 5px;
    ry: 5px;
}

path.thread-speed {
    stroke-width: 1px;
    stroke: #14749b;
}

path.thread-speed:hover {
    stroke-width: 3px;
    stroke: #429fd8;
}

div.summary {
    width: 600px;
    display: inline-block;
}

div.summary > svg {
    width: 100%;
    height: 600px;
}

div.detail {
    width: 600px;
    display: inline-block;
}

div.detail > svg {
    width: 100%;
    height: 600px;
}

div.header {
    margin-left: 200px;
    border: 1px solid gray;
    border-radius: 3px;
    display: inline-block;
}

.header > button {
    width: 10px;
}

.header > span {
    width: 180px;
    display: inline-block;
    text-align: center;
}