.axis path {
    fill: none;
    stroke: black;
}

.axis line {
    strock: black;
}

.grid-chart rect {
    fill: gray;
    rx: 5;
    ry: 5;
}

.grid-chart rect:hover {
    fill: salmon;
}

.grid-chart rect.selected {
    fill: blue;
}

.grid-chart text {
    font-family: sans-serif;
}